<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script type="text/javascript">
		var oPoint = new nhn.api.map.LatLng(37.5010226, 127.0396037);
		nhn.api.map.setDefaultPoint('LatLng');
		oMap = new nhn.api.map.Map('testMap' ,{
								point : oPoint,
								zoom : 10,
								enableWheelZoom : true,
								enableDragPan : true,
								enableDblClickZoom : false,
								mapMode : 0,
								activateTrafficMap : false,
								activateBicycleMap : false,
								minMaxLevel : [ 1, 14 ],
								size : new nhn.api.map.Size(500, 400)
						});
</script>